# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
apscheduler=3.6.3=pypi_0
ca-certificates=2020.12.5=h5b45459_0
certifi=2020.12.5=py37h03978a9_0
cffi=1.14.4=pypi_0
chardet=4.0.0=pypi_0
cryptography=3.3.1=pypi_0
decorator=4.4.2=pypi_0
idna=2.10=pypi_0
intel-openmp=2020.3=h57928b3_311
libblas=3.9.0=6_mkl
libcblas=3.9.0=6_mkl
liblapack=3.9.0=6_mkl
mkl=2020.4=hb70f87d_311
numpy=1.19.5=py37hd20adf4_0
openssl=1.1.1i=h8ffe710_0
pip=20.3.3=pyhd8ed1ab_0
pycparser=2.20=pypi_0
pytelegrambotapi=3.7.4=pypi_0
python=3.7.9=h7840368_0_cpython
python-telegram-bot=13.2=pypi_0
python_abi=3.7=1_cp37m
pytz=2020.5=pypi_0
requests=2.25.1=pypi_0
setuptools=49.6.0=py37hf50a25e_2
six=1.15.0=pypi_0
sqlite=3.34.0=h8ffe710_0
tornado=6.1=pypi_0
tzlocal=2.1=pypi_0
urllib3=1.26.2=pypi_0
vc=14.2=hb210afc_2
vs2015_runtime=14.28.29325=h5e1d092_0
wheel=0.36.2=pyhd3deb0d_0
wincertstore=0.2=py37hc8dfbb8_1005
pillow=8.2.0